# Database (Supabase)
DATABASE_URL="postgresql://postgres.xxxx:your-password@aws-0-eu-central-1.pooler.supabase.com:5432/postgres"

# Better Auth
BETTER_AUTH_SECRET="your-32-char-secret"
BETTER_AUTH_URL="http://localhost:8001"

# App port
PORT=8001
